{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
<div class='container'>
    <h1>Formulaire</h1>

    {{ form_start(form) }}
        {{ form_row(form.image) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.message) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
