{% extends 'base.html.twig' %}

{% block title %}Hung-gar Kung-Fu{% endblock %}

{% block body %}

 
           
        {% for resultat in resultats %}
                <div class="result-card d-flex  justify-content-center mt-4">
                    <img src="{{ asset('assets/images/' ~ resultat.media) }}" alt="{{ resultat.nom }}" class="taille-result">

                    <div class="result-text p-5 ">
                    <h2 class="">{{ resultat.prenom }} {{ resultat.nom }} </h2>
                        <p>{{ resultat.message }}</p>
                        <p>{{ resultat.ceinture }}</p>
                        <p>{{ resultat.coupefrance}}</p>
                        <p>{{ resultat.openfrance }}</p>
                        <p>{{ resultat.championnatfrance}}</p>
                        <p>{{ resultat.categorie}}</p>
                        <p>{{ resultat.poids}}</p>
                    </div>
                </div>
        {% endfor %}
        


  


{% endblock %}
